<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blueflower.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>bluewall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{384,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,64}}</string>
				<key>sourceSize</key>
				<string>{384,64}</string>
			</dict>

			<key>orangeflower.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{46,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,1},{46,255}}</string>
				<key>sourceSize</key>
				<string>{64,256}</string>
			</dict>

			<key>orangewall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{384,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,64}}</string>
				<key>sourceSize</key>
				<string>{384,64}</string>
			</dict>

			<key>pinkflower.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>pinkwall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{384,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,64}}</string>
				<key>sourceSize</key>
				<string>{384,64}</string>
			</dict>

			<key>redflower.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>redwall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,64}}</string>
				<key>sourceSize</key>
				<string>{384,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>flower.png</string>
			</dict>
		</dict>
</plist>