<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hole01.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole02.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole03.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole04.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole05.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole06.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole07.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole08.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole09.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole10.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>hole14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{884,884}</string>
			<key>textureFileName</key>
			<string>hole.png</string>
			</dict>
		</dict>
</plist>