<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,618},{414,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,308}}</string>
				<key>sourceSize</key>
				<string>{414,308}</string>
			</dict>

			<key>spider02.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,309},{409,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{409,308}}</string>
				<key>sourceSize</key>
				<string>{409,308}</string>
			</dict>

			<key>spider03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{414,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,308}}</string>
				<key>sourceSize</key>
				<string>{414,308}</string>
			</dict>

			<key>spider04.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{409,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{409,308}}</string>
				<key>sourceSize</key>
				<string>{409,308}</string>
			</dict>

			<key>spider05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{414,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,308}}</string>
				<key>sourceSize</key>
				<string>{414,308}</string>
			</dict>

			<key>spider06.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,618},{366,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,268}}</string>
				<key>sourceSize</key>
				<string>{366,268}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>spider.png</string>
			</dict>
		</dict>
</plist>